html {
  height: 100%;
  width: 100%;
}

body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: repeating-radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%) );
  /* background-repeat: repeat-y; */
}

/*body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* fallback */
  /* background-color: hsl(237, 49%, 15%); */
  /* background-position: center center; */
  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame.
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(hsl(214, 47%, 23%)), to(hsl(237, 49%, 15%)));
  /* Safari 5.1+, Chrome 10+ */
  /* background: -webkit-radial-gradient(ellipse at center top, hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%) 62%,hsl(214, 47%, 23%) 100%); */
  /* background: repeating-radial-gradient(circle at center top, hsl(214, 47%, 23%), hsl(237, 49%, 15%)); */
  /* Firefox 3.6+ */
  /* background: -moz-repeating-radial-gradient(circle at center top, hsl(214, 47%, 23%), hsl(237, 49%, 15%)); */
  /* IE 10 */
  /* background: -ms-radial-gradient(circle, #FFFFFF, #000000); */
  /* Opera cannot do radial gradients yet */
/* } */

/* ​ .attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
} */

.headContainer {
  width: 50%;
  margin: 30px auto;
  position: relative;
  padding: 15px;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 10px;
}

.score {
  right: 20px;
  top: 8px;
  position: absolute;
  background-color: #fff;
  padding: 5px 40px;
  border-radius: 10px;
  text-align: center;
}

.scoreValue {
  font-weight: 700;
  color: hsl(229, 25%, 31%);
  font-size: 75px;
}

.scoreHeading {
  color: hsl(229, 64%, 46%);
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 5px;
}

.items {
  left: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 27px;
  line-height: 1;
}

.step-1::before {
  content: ' ';
  background-image: url('../images/bg-pentagon.svg');
  top: -3%;
  left: 17%;
  position: absolute;
  z-index: -1;
  width: 80%;
  height: 80%;
  background-repeat: no-repeat;
}

.step-1 {
  width: 500px;
  height: 430px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  top: 70px;
}

.step-1 button,.result button {
  position: relative;
  border-radius: 100%;
  padding: 26px;
  border: 0;
  top: 15px;
  left: 15px;
  box-shadow: inset 0 6px 1px #cfcac6;
  outline: none;
  cursor: pointer;
}

.result button{
  top: 20px;
  left: 20px;
  padding: 36px;
}

.red {
  background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  border-radius: 100%;
  position: relative;
  top: 180px;
  right: -120px;
  height: 130px;
  width: 130px;
  box-shadow: 0 8px 0  #ba233f;
  cursor: pointer;
}

.yellow {
  background-image: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  border-radius: 100%;
  position: relative;
  top: -120px;
  left: -130px;
  height: 130px;
  width: 130px;
  box-shadow: 0 8px 0 #bd7e0b;
  cursor: pointer;
}

.blue {
  background-image: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  border-radius: 100%;
  position: relative;
  top: 0px;
  right: -280px;
  height: 130px;
  width: 130px;
  box-shadow: 0 8px 0 #2e43ab;
  cursor: pointer;
}

.purple{
  background-image: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  border-radius: 100%;
  position: relative;
  top: -35px;
  right: 50px;
  height: 130px;
  width: 130px;
  box-shadow: 0 8px 0 #512f8f;
  cursor: pointer;
}

.cian{
  background-image: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  border-radius: 100%;
  position: relative;
  top: -220px;
  left: -210px;
  height: 130px;
  width: 130px;
  box-shadow: 0 8px 0 #2f90a1;
  cursor: pointer;
}

.step-1 .paper,.step-1 .scissors {
  padding: 21px 26px;
}

.result .scissors,.result .paper {
  padding: 31px 36px;
}

.step-1 .lizard {
  padding: 23px 23px;
  top: 11px;
  left: 11px;
}

 .result .lizard{
   padding: 33px 33px;
   top: 16px;
   left: 16px;
 }

.step-1 .spock {
  padding: 21px 28px;
}

.result .spock{
  padding: 31px 38px;
  /* left: 25px; */
}

.result{
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  justify-content: center;
  position: relative;
  top: 50px;
  font-size: 20px;
}

.result .red,.result .blue,.result .yellow, .result .cian, .result .purple{
  position: static;
  height: 160px;
  width: 160px;
  /* margin-right: 30px; */
}

.result p{
  text-align: center;
  margin-bottom: 50px;
}

.myChoice div, .compChoice div{
  margin: 10px auto;
}

/* .compChoice div::before{
  content: "";
  border-radius: 100%;
  width: 140px;
  height: 140px;
  background-color: #112c4f;
  position: absolute;
  opacity: 0.8;
  z-index: -1;
  /* top: 20px; */
/* }  */
.circleElementRight{
  border-radius: 100%;
  width: 600px;
  height: 600px;
  /* background-color: #205191; */
  background: repeating-radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%) 70px);
  position: absolute;
  right: 7.8%;
  bottom: -240px;
  opacity: 0.5;
  z-index: -2;
}

.circleElementLeft{
  border-radius: 100%;
  width: 600px;
  height: 600px;
  /* background-color: #205191; */
  background: repeating-radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%) 70px);
  position: absolute;
  left: 7.6%;
  bottom: -240px;
  opacity: 0.5;
  z-index: -2;
}

/* .compChoice div{

} */

.mLeft{
  margin-left: 360px;
}

.mRight{
  margin-right: 360px;
}

.cross{
  cursor: pointer;
}

.rulesBtn{
  padding: 5px 30px;
  border-radius: 10px;
  border: 1px solid #fff;
  display: inline-block;
  color: #fff;
  position: absolute;
  letter-spacing: 1px;
  right: 20px;
  bottom: 20px;
  font-weight: 600;
  cursor: pointer;
}

.dim-background{
  width: 100%;
  height: 150%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.63;
}

.rules{
  position: absolute;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  margin: -190px 0 0 -176px;
  z-index: 1;
}

.rules .heading{
  margin-bottom: 20px;
}

.myChoice, .compChoice, .resultText1{
  flex: 0 0 20%;
}

.heading span{
  font-weight: 700;
  color:  hsl(229, 25%, 31%);
  font-size: 24px;
}

.heading img{
  position: relative;
  left: 200px;
}

.invisible{
  display: none;
}

.resultText1{
  letter-spacing: 1px;
  text-align: center;
}

.resultText1 button{
  border-radius: 10px;
  background-color: #fff;
  padding: 8px 30px;
  color: #c9324e;
  /* font-size: 16px; */
  box-shadow: none;
  position: relative;
  top: 50px;
  font-weight: 600;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.resultText1 p{
  position: relative;
  top: 80px;
  left: 20px;
  font-size: 35px;
  margin-bottom: 30px;
}

.preElement{
  border-radius: 100%;
  width: 130px;
  height: 130px;
  background-color: #205191;
  /* background: repeating-radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%) 70px); */
  position: absolute;
  right: 34.2%;
  /* bottom: -225px; */
  opacity: 0.8;
  z-index: -1;
}

@media (max-width: 1050px) {
  .mLeft{
    margin-left: 180px;
  }
  .mRight{
    margin-right: 180px;
  }
  .preElement{
    right: 32%;
  }
  .circleElementRight{
    right: 1.4%;
  }
  .circleElementLeft{
    left: 1.4%;
  }
}

@media (max-width: 830px) {
  .headContainer{
    width: 60%;
  }
  .rulesBtn{
    position: relative;
    margin: 0 0 90px -47px;
    left: 50%;
  }
  .buttonContainer{
    position: relative;
    top: 120px;
  }
  .mLeft{
    margin-left: 0;
  }
  .mRight{
    margin-right: 0;
  }
  .circleElementLeft{
    left: -7.8%;
  }
  .circleElementRight{
    right: -7.8%;
  }
  .preElement{
    right: 27%;
  }
  .myChoice{
    margin-right: 20px;
  }
  .compChoice{
    margin-left: 20px;
  }
}

@media (max-width: 630px) {
  html, body{
    height: 110%;
  }
  .headContainer{
    width: 80%;
  }
  .resultText1{
    justify-content: flex-start;
    position: absolute;
    top: 180px;
    left: 50%;
    margin-left: -80px;
  }
  .circleElementLeft{
    width: 0px;
    height: 0px;
    background: repeating-radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%) 20px);
    left: 7%;
    bottom: -70px;
    overflow-x: hidden;
  }
  .circleElementRight{
      width: 0px;
      height: 0px;
      background: repeating-radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%) 20px);
      /* left: -4%; */
      right: 7%;
      bottom: -70px;
      overflow-x: hidden;
  }
  .preElement{
    bottom: 1%;
    right: 17%;
  }
  .rules{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    /* top: 50%; */
    /* left: 50%; */
    /* margin: -190px 0 0 -176px; */
    z-index: 1;
  }
  .rules img{
    position: relative;
    bottom: 20%;
  }
}
